.radio-wrapper {
  position: relative;
  margin-top: 1rem;
  padding: 30px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.875rem;
  border: 1px solid var(--border-color);
  cursor: pointer; 
  transition: all 0.2s ease-in-out;
}

.badge {
  position: absolute;
  right: 5px;
  top: -10px;
  color: white;
  font-size: 0.9rem;
  padding: 4px 10px;
  user-select: none;
  pointer-events: none;
  background-color: var(--primary-color);
  border-radius: 0 0 5px 5px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none; 
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: opacity 0.2s;
}

.button:hover { opacity: 0.9; }