input[type="radio"] {
  appearance: none;
  background-color: #fff;
  border: 1.5px solid var(--primary-color);
  width: 14px;
  height: 14px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-top: 0.3rem;
  vertical-align: middle;
  box-shadow: 0 0 0 2.5px #fff inset;
  display: inline-block;
}

input[type="radio"]:checked {
  background-color: var(--primary-color);
}
 