.text-left { text-align: left; }
.text-center { text-align: center; }

.text-primary { color: var(--primary-color); }
.text-secondary { color: var(--secondary-color); }
.text-white { color: white; }
.text-grey { color: var(--grey-color); }

.font-normal { font-weight: 400 !important; }
.font-semibold { font-weight: 520; }

.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.875rem; }
.text-base { font-size: 1rem; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; }

.line-through { text-decoration: line-through; }
.whitespace-nowrap { white-space: nowrap; }